<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Flask App</title>
</head>
<body style="background-color: rgba(95, 126, 111, 0.603);">
    <center><h2><b><code style="color: rgb(16, 68, 114);">Welcome!</code></b></h2></center>
    <center><h3><b><code style="color: rgb(226, 211, 211); background-color: rgb(19, 29, 27);">Adnan "Error" Adib</code></b></h3></center>
    <h4><code style="color: rgb(240, 223, 223); background-color: black;">IP: {{ip}}</code></h4>
    <hr>
    <p style="font-family: sans-serif;"><b>Anime Quote</b></p>
    <br>
    <p style="color: black; font-family: cursive; font-size: small;">
        Anime Name: {{anime}}<br>
        Character Name: {{character}}<br>
        <i>Quote: {{quote}}</i>
    </p>
    <footer>api: https://animechan.xyz/docs#random-quote</footer>
</body>
</html>